{% extends 'base.html' %}

{% block title %}
Store
{% endblock title %}

{% block body %}
<section class="py-3 text-center container">
    <div class="row py-lg-4">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Paris Saint-Germain</h1>
        <h2 class="fw-light">Official Online Store</h2>
        <p class="lead text-muted">Welcome To The Official Merchandise Section Of PSG</p>
        <p>
          <a href="#" class="btn btn-primary my-2">Men's Section</a>
          <a href="#" class="btn btn-secondary my-2">Women's Section</a>
        </p>
      </div>
    </div>
  </section>
  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <img src="/static/img/shirt-messi.jfif">
            <div class="card-body">
              <p class="card-text"><h5>€157.99</h5>
                Paris Saint-Germain Home Vapor Match Shirt 2022-23 with Messi 30 printing</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Buy Now</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Add To Cart</button>
                </div>
                <small class="text-muted">Item-1</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="/static/img/shirt-neymar.jfif">
            <div class="card-body">
              <p class="card-text"><h5>€157.99</h5>
                Paris Saint-Germain Home Vapor Match Shirt 2022-23 with Neymar Jr 10 printing</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Buy Now</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Add To Cart</button>
                </div>
                <small class="text-muted">Item-2</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="/static/img/shirt-mbappe.jfif">
            <div class="card-body">
              <p class="card-text"><h5>€157.99</h5>
                Paris Saint-Germain Home Vapor Match Shirt 2022-23 with Mbappé 7 printing</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Buy Now</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Add To Cart</button>
                </div>
                <small class="text-muted">Item-3</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col mt-4">
          <div class="card shadow-sm">
            <img src="/static/img/shirt-psg.jfif">
            <div class="card-body">
              <p class="card-text"><h5>€139.99</h5>
                Paris Saint-Germain Home Vapor Match Shirt 2022-23</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Buy Now</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Add To Cart</button>
                </div>
                <small class="text-muted">Item-4</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col mt-4">
          <div class="card shadow-sm">
            <img src="/static/img/hoodie-psg.jfif">
            <div class="card-body">
              <p class="card-text"><h5>€54.00</h5>
                Paris Saint-Germain Essential Crest Hoodie - Blue</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Buy Now</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Add To Cart</button>
                </div>
                <small class="text-muted">Item-5</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col mt-4">
          <div class="card shadow-sm">
            <img src="/static/img/jacket-psg.jfif">
            <div class="card-body">
              <p class="card-text"><h5>€139.99</h5>
                Paris Saint-Germain Strike Anthem Jacket - Midnight Navy</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Buy Now</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Add To Cart</button>
                </div>
                <small class="text-muted">Item-6</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<div class="bg-light">
  <div class="container">
    <div class="py-3 pt-5 text-left">
      <h2>*Checkout form</h2>
      <p class="lead">Enter the details below to get your items at your doorstep</p>
    </div>

    <div class="row">
      <div class="col-md-4 order-md-2 mb-4">
        <h4 class="d-flex justify-content-between align-items-center mb-3">
          <span class="text-muted">Your cart</span>
          <span class="badge badge-secondary badge-pill">3</span>
        </h4>
        <ul class="list-group mb-3">
          <li class="list-group-item d-flex justify-content-between lh-condensed">
            <div>
              <h6 class="my-0">Item-3</h6>
              <small class="text-muted">PSG Home Vapor Match Shirt Mbappé 7</small>
            </div>
            <span class="text-muted">€157.99</span>
          </li>
          <li class="list-group-item d-flex justify-content-between lh-condensed">
            <div>
              <h6 class="my-0">Item-4</h6>
              <small class="text-muted">PSG Home Vapor Match Shirt</small>
            </div>
            <span class="text-muted">€139.99</span>
          </li>
          <li class="list-group-item d-flex justify-content-between lh-condensed">
            <div>
              <h6 class="my-0">Item-6</h6>
              <small class="text-muted">PSG Strike Anthem Jacket - Midnight Navy</small>
            </div>
            <span class="text-muted">€139.99</span>
          </li>
          <li class="list-group-item d-flex justify-content-between bg-light">
            <div class="text-success">
              <h6 class="my-0">Promo code</h6>
              <small>FIFA22</small>
            </div>
            <span class="text-success">€88</span>
          </li>
          <li class="list-group-item d-flex justify-content-between">
            <span>Total (EUR)</span>
            <strong>€350</strong>
          </li>
        </ul>

        <form class="card p-2">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Promo code">
            <div class="input-group-append">
              <button type="submit" class="btn btn-secondary">Redeem</button>
            </div>
          </div>
        </form>
      </div>
      <div class="col-md-8 order-md-1">
        <h4 class="mb-3">Billing address</h4>
        <form class="needs-validation" novalidate="" method="post" action="/shop">
          {% csrf_token %}
          <div class="row">
            <div class="col-md-6 mb-3">
              <label for="firstName">First name</label>
              <input type="text" class="form-control" id="firstName" name="firstName" style="text-transform: capitalize;" placeholder="" value="" required="">
              <div class="invalid-feedback">
                Valid first name is required.
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <label for="lastName">Last name</label>
              <input type="text" class="form-control" id="lastName" name="lastName" style="text-transform: capitalize;" placeholder="" value="" required="">
              <div class="invalid-feedback">
                Valid last name is required.
              </div>
            </div>
          </div>

          <div class="mb-3">
            <label for="username">Username</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">@</span>
              </div>
              <input type="text" class="form-control" id="username" name="username" placeholder="Enter Your PSG Username" required="">
              <div class="invalid-feedback" style="width: 100%;">
                Your username is required.
              </div>
            </div>
          </div>

          <div class="mb-3">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="you@example.com" required="">
            <div class="invalid-feedback">
              Please enter a valid email address for shipping updates.
            </div>
          </div>

          <div class="mb-3">
            <label for="address">Address</label>
            <input type="text" class="form-control" id="address" name="address" placeholder="1234 Main City" required="">
            <div class="invalid-feedback">
              Please enter your shipping address.
            </div>
          </div>

          <div class="mb-3">
            <label for="address2">Address 2 <span class="text-muted">(Optional)</span></label>
            <input type="text" class="form-control" id="address2" name="address2" placeholder="Apartment or House">
          </div>

          <div class="row">
            <div class="col-md-5 mb-3">
              <label for="country">Country</label>
              <select class="custom-select d-block w-100" id="country" name="country" required="">
                <option value="">Choose...</option>
                <option>Argentina</option>
                <option>Brazil</option>
                <option>France</option>
                <option>India</option>
                <option>United Kingdom</option>
                <option>United States</option>
              </select>
              <div class="invalid-feedback">
                Please select a valid country.
              </div>
            </div>
            <div class="col-md-4 mb-3">
              <label for="state">State</label>
              <input type="text" class="form-control" id="state" name="state" placeholder="" required="">
              <div class="invalid-feedback">
                Please provide a valid state.
              </div>
            </div>
            <div class="col-md-3 mb-3">
              <label for="zip">Zip</label>
              <input type="text" class="form-control" id="zip" name="zip" placeholder="" required="">
              <div class="invalid-feedback">
                Zip code required.
              </div>
            </div>
          </div>
          <hr class="mb-4">
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="same-address" name="same-address">
            <label class="custom-control-label" for="same-address">Shipping address is the same as my billing address</label>
          </div>
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="save-info">
            <label class="custom-control-label" for="save-info">Save this information for next time</label>
          </div>
          <hr class="mb-4">

          <h4 class="mb-3">Payment</h4>

          <div class="d-block my-3">
            <div class="custom-control custom-radio">
              <input id="credit" name="paymentMethod" type="radio" class="custom-control-input" name="credit" checked="" required="">
              <label class="custom-control-label" for="credit">Credit card</label>
            </div>
            <div class="custom-control custom-radio">
              <input id="debit" name="paymentMethod" type="radio" class="custom-control-input" name="debit" required="">
              <label class="custom-control-label" for="debit">Debit card</label>
            </div>
            <div class="custom-control custom-radio">
              <input id="paypal" name="paymentMethod" type="radio" class="custom-control-input" required="">
              <label class="custom-control-label" for="paypal">Paypal</label>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 mb-3">
              <label for="cc-name">Name on card</label>
              <input type="text" class="form-control" id="cc-name" name="cc-name" oninput="this.value = this.value.toUpperCase()" placeholder="" required="">
              <small class="text-muted">Full name as displayed on card</small>
              <div class="invalid-feedback">
                Name on card is required
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <label for="cc-number">Credit card number</label>
              <input type="text" class="form-control" id="cc-number" name="cc-number" placeholder="xxxx xxxx xxxx xxxx" required="">
              <div class="invalid-feedback">
                Credit card number is required
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3 mb-3">
              <label for="cc-expiration">Expiration</label>
              <input type="text" class="form-control" id="cc-expiration" name="cc-expiration" placeholder="MM/YY" required="">
              <div class="invalid-feedback">
                Expiration date required
              </div>
            </div>
            <div class="col-md-3 mb-3">
              <label for="cc-expiration">CVV</label>
              <input type="text" class="form-control" id="cc-cvv" name="cc-cvv" placeholder="***" required="">
              <div class="invalid-feedback">
                Security code required
              </div>
            </div>
          </div>
          <hr class="mb-4">
          <button class="btn btn-primary btn-lg btn-block" type="submit">Continue to checkout</button>
        </form>
      </div>
    </div>

    <footer class="my-5 pt-5 text-muted text-center text-small">
      <p class="mb-1">© 2022-2023 Paris Saint-Germain</p>
      <ul class="list-inline">
        <li class="list-inline-item"><a href="#">Privacy</a></li>
        <li class="list-inline-item"><a href="#">Terms</a></li>
        <li class="list-inline-item"><a href="#">Support</a></li>
      </ul>
    </footer>
  </div>
</div>
{% endblock body %}

